@import "tailwindcss";

@theme {
  --color-primary-500: #646cff;
  --color-primary-600: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
